body {
    background-color: #f1f3f8;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #07689f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: "Lato", sans-serif;
  }
  
.nav {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #07689f;
    display: block;
    transition: 0.3s;
  }
  
  .nav:hover, .nav:active, .nav:visited, .nav:focus {
    text-decoration-line: none;
  }

  .nav:hover{
    color: #043857;

  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .closebtn{
      color: #f1f3f8;
  }

  .closebtn:hover, .closebtn:active, .closebtn:visited, .closebtn:focus{
      color: #f1f3f8;
      text-decoration-line: none;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .menu{
      margin-left: 1%;
  }

.nav{
    background-color:#f1f3f8;
    height: 8.5%;
    margin: 0 3% 2% -10%;
    border-radius: 25px;
}

h1{    
    font-family: 'Fjord One';
    font-size: 40px;
    color: #07689f;
    position: absolute;
    left: 150px;
    top: 50px;
}

.descriptors{    
    font-family: 'Lusitana';
    font-size: 22px;
    color: #000000;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul{
    list-style: none;
}

.container-describe{
    margin-top: 12.5%;
    position: relative;
    width: 70%;
    height: 50%;
    left: 15%;
    padding: 0.5px 0;
    background: linear-gradient(90deg, rgba(147, 197, 227, 0.83) 0%, rgba(147, 197, 227, 0.23) 80.09%);
}